<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".NeutralCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.k2040.geojoystick.capture"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
